@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
  --font-roboto-condensed: var(--font-roboto-condensed);
  --font-inria-sans: var(--font-inria-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: #ffffff !important;
}

body {
  background: #ffffff !important;
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}
